/* Sidebar-Hintergrund */
.wy-nav-side {
    background: #2b2b2b;
}

/* Links */
a {
    color: #e08c3a;
}

/* Sidebar-Links */
.wy-menu-vertical a {
    color: #cccccc;
}

/* Aktiver Menüpunkt */
.wy-menu-vertical li.current a {
    color: #ffffff;
}

/* Überschriften */
h1, h2, h3 {
    color: #e08c3a;
}